.nav-big__link, .welcome__link, .news__link, .story__link {
  font: 12px/11px "GothamProBold";
  display: flex;
  align-items: center;
  text-align: justify;
  text-transform: uppercase;
}

.welcome__title {
  font: 30px/29px "GothamProBold";
  display: flex;
  align-items: center;
  text-align: justify;
  text-transform: uppercase;
}

.showcase__title, .stories__title {
  font: 22px/21px "GothamProBold";
  display: flex;
  align-items: center;
  text-align: justify;
  text-transform: uppercase;
}

.showcase__product_text {
  font: 12px/11px "GothamProRegular";
  display: flex;
  align-items: center;
  text-align: justify;
}

.showcase__product_price {
  font: 14px/13px "GothamProBold";
  display: flex;
  align-items: center;
  text-align: justify;
}

.news__title {
  font: 22px/27px "GothamProBold";
  display: flex;
  align-items: center;
  text-align: justify;
  text-transform: uppercase;
}

.news__text, .story__text {
  font: 13px/16px "GothamProRegular";
}

.story__subtitle {
  font: 18px/17px "GothamProBold";
  display: flex;
  align-items: center;
  text-align: justify;
}

.story__date {
  font: 12px/11px "GothamProBold";
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;

  opacity: 0.3;
}

.album__title {
  font: 18px/17px "GothamProBold";
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: right;
  text-transform: uppercase;

  opacity: 0.3;
}

.my-account__title, .customer-service__title, .miscellaneous__title, .newsletter-sign-up__title, .newsletter-sign-up__button {
  font: 12px/11px "GothamProBold";
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: justify;

  color: white;
}

.my-account__link, .customer-service__link, .miscellaneous__link, .newsletter-sign-up__link, .newsletter-sign-up__text, .conclusion__text {
  font: 12px/11px "GothamProRegular";
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: justify;

  color: white;
}
